body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-align: center;
}


.App {
  max-width: 1200px; 
  margin: 0 auto; 
}

 .img1 { 
  display: inline;
  max-width: 368px; 
  height: 600px;
  gap: 2rem;
  float: left;
  margin-bottom: 2rem;
} 

.navBar {
  height: 100%;  
  width: 6%; 
  font-size: large;
  position: fixed; 
  top: 0; 
  left: 0; 
  background-image: url('./images/for_navbar.jpeg');
  transition: .5s ease; 
  overflow-x: hidden; 
  padding-top: 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.sign-in-register-page {
  box-sizing: border-box;
  position: relative;
  background-image: url('./images/for_login_register3.png');
  background-size: cover;
  width: 100%;
  height: 100vh
}

.loginStyle, .registerStyle {
  box-sizing: border-box;
  width: 20%; 
  padding: 2%;
  padding-left: 2%;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: rgba(250, 249, 246, 0.5);
  border: 2px solid black;
  border-radius: 12px;
  font-size: small;
} 

.logoutBtn {
  background-color: grey;
}

button {
  margin-right: 1px;
  font-weight: 700;
  background-color: rgb(43, 49, 43, 0.3);
  border-radius: 2px;
}

